html {
  scroll-behavior: smooth;
}

#page-top {
  background: #e6f0ff;
}

.bg-custom {
  background: #ccccff;
}

.text-custom {
  color: #4e73df;
}

#container {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

#bar-container {
  grid-area: bar;
  height: 60vh;
}

#pie-container {
  grid-area: pie;
  height: 60vh;
}

#stats-container {
  display: grid;
  grid-area: stat;
  height: 30vh;
  row-gap: 0.5rem;
  grid-template-areas:
    "card4 card4 card4"
    ". . ."
    "card1 card2 card3";
}
#card1 {
  grid-area: card1;
}
#card2 {
  grid-area: card2;
}
#card3 {
  grid-area: card3;
}
#card4 {
  grid-area: card4;
}

#myPieChart {
  height: 100%;
}

.chart-container {
  position: relative;
  margin: auto;
  height: 80vh;
  width: 20vw;
}

#showAll {
  width: 100%;
  color: #ccccff;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
}
#showAll:before,
#showAll:after {
  background-color: #e3e6f0;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 40%;
}
#showAll:before {
  margin-left: -50%;
}
#showAll:after {
  margin-right: -50%;
}

#showAll:hover,
#showAll:focus {
  color: #4e73df;
  text-decoration: double;
  cursor: pointer;
}

.stats-card {
  margin-left: 1rem;
}

#reportsTable tbody {
  display: block;
  overflow: auto;
  height: 40vh;
  width: 100%;
}

#latestReport tbody {
  display: block;
  overflow: auto;
  height: 4.5rem;
}

#latestReport thead {
  display: block;
}
#reportsTable thead {
  display: block;
}

#reportsTable thead tr {
  display: block;
}

.scroll-secondary {
  overflow-y: scroll;
  scrollbar-color: #4e73df #ccccff;
  scrollbar-width: thin;
}

@media only screen and (min-width: 768px) {
  #container {
    display: grid;
    grid-template-areas:
      "stat"
      "charts";
  }

  #charts-container {
    grid-area: charts;
  }
  #bar-container {
    grid-area: bar;
    height: 70vh;
  }

  #pie-container {
    grid-area: pie;
    height: 70vh;
  }

  #stats-container {
    display: grid;
    grid-area: stat;
    height: 17vh;
    grid-template-areas: "card1 card2 card3 card4";
  }
}
