:root {
    --gutter: 20px;
  }

body {
    color: #013F2A;
    background-image: linear-gradient(180deg, #EEDFB4, #8BB6AD, #25538E, #212B4E);
}

nav{
    background-image: linear-gradient(180deg, #EBBEAB, #E1DECB);
}

#maincontainer {
    background: white;
  color: #051853;
    min-width: 50px;
}

.whitetext{
    color: white;
}

#categorydiv {
    background: white;
    box-shadow: 10px 10px 5px grey;
    min-width: 275px;
}

#pagetitle{
    font-size: 40px;
    color: #013F2A;
}



#maincontainer> * {
    grid-column: 2 / -2;
  }

#picture{
    height: 175px;
}

#categoryContainer{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(10000, 140px);
    grid-template-rows: minmax(150px);
    
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

#dropdownMenuButton{
    color: white;
    background-color:#BD9BFF;
}
